h3 recent articles

ul
	each article in recent_articles
		li
			a(href=article.path) #{article.title}
			div.date #{article.formatted_date}

h3 links

ul
	li
		a(href="/archive/") archive
	li
		a(href="/feed/rss.xml") feed
